body {
    display: grid;
    /* grid-template-rows: 1fr 3fr;
    grid-template-columns: auto auto auto; */
    grid-template-areas:
    "SeeMore1 SeeMore2 SeeMore3"
    "rectangle1 rectangle2 rectangle3"
    /* "footer footer footer" */
    
}

/* see more buttons */

.SeeMore1 {
    /* position: absolute; */
    display: grid
    width: 200px;
    height: 60px;
    grid-area: SeeMore1;
}

.SeeMore2 {
    /* position: absolute; */
    display: grid;
    width: 200px;
    height: 60px;
    grid-area: SeeMore2;
}

/* bow w dot */

.rectangle2 {
    display: grid;
    grid-area: rectangle2;
    text-align: center;
    border: 1px solid black;
    border-radius: 2px;
    width: 270px;
    height: 420px;
   
}

.feature {
    
    width: 193px;
    height: 100px;
    left: 39px;
    top: 182px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 34px;
    /* text-align: center; */
    color: rgba(0, 0, 0, 0.5);
}

.icon {
    border-radius: 100%;
   
    width: 54px;
    height: 54px;
    left: 108px;
    top: 29px;

    background: #000000;
}

.subtitle { 
   
    width: 194px;
    height: 32px;
    /* left: 38px;
    top: 120px; */
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    /* border: 1px solid black; */
    /* align-items: center;
    text-align: center; */
}

h3 {
    text-align: center;
    
    width: 40px;
    height: 24px;
    left: 115px;
    top: 92px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* display: flex;
    align-items: center; */
    color: #000000;
    border: 1 px solid black;
}

.StartNow {
    
    width: 160px;
    height: 40px;
    left: 55px;
    top: 347px;
}

/* Big box w small box in it */

.rectangle1 {
    display: grid
    grid-area: rectangle1;
    width: 270px;
    height: 436px;
    /* left: 500px;
    top: 247px; */
    border: 2px solid black;
    border-radius: 5px;
}

.icon2 {  
   
    width: 64px;
    height: 64px;
    /* left: calc(50% - 64px/2);
    top: 103px; */
    background: rgb(237, 10, 10);
    border-radius: 8px;
    z-index: 7;
}

.icon3 {
    
    height: 270px;
    left: 0%;
    right: 0%;
    top: 10px;
    background: #000000;  
}

.SeeMore3 {
    
    left: 20px;
    top: 380px;
    width: 105px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.SpecialFeature {
   
    height: 222px;
    width: 200px;
    left: 20px;
    top: 190px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

/* big card */

.recatngle3 {
    display: grid;
    grid-area: rectangle3;
    width: 370px;
    height: 502px;
    border: 2px solid red;
}

.icon4 {
    height: 370px;
    width: 370px;
    background-color: #000000;
    
}

.Lorem {
    width: 370px;
    height: 66px;
    /* top: 404px;
    left: 0px; */
    font-size: 24px;
}

.Learn {
    width: 370px;
    height: 20px;
    /* left: 0px;
    top: 482px; */
    font-size: 14px;
}


